body{
    background-image: linear-gradient(to bottom, rgb(138, 27, 182), rgb(203, 153, 218));

}
.imagem2 {
   width: 100%;
}

.centralizar{
    text-align: center;
}
.imagem{
    width: 500px;
    margin-left: 30%;
    border: dashed 5px black;
    padding: 5px;
}

h1{
 color: rgb(79, 9, 126);
 
}

h2{
 color: rgb(79, 9, 126);
}

h3{
color: rgb(79, 9, 126);
}
footer{
background-color: rgb(110, 7, 158);
}
