body{
    background-image: linear-gradient(to bottom, rgb(124, 6, 170), rgb(203, 153, 218));

}

.centralizar{
    text-align: center;
}

h1{
 color: rgb(79, 9, 126);
 
}
h2{
 color: rgb(79, 9, 126);
}
h3{
color: rgb(79, 9, 126);
}

