header{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal{
    background: 150 75 0;
    padding: 30px;
}

.principal h2{
    text-align: center;
    font-size: 35px;
    padding-left: 30px;
}

.principal p{
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: 66 38 0;
}


.Objetivo h3{
    text-align: center;
    background: 150 75 0;
    padding: 20px;
}

